<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="comm.TestScriptsPackage.TC001_Seacrh_Mobile"/>
      <class name="comm.TestScriptsPackage.Tc002_Seacrh_Shoes"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
